@charset "utf-8";

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../サイバー.png") center/cover no-repeat;
    opacity: 0.9;
    z-index: -1;
}

h1 {
    margin: 0;
    font-family: "Source Serif Pro", serif;
    font-size: 80px;
    font-weight: 500;
    -webkit-text-fill-color: #738DE4;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    align-items: center;
}

button {
    display: flex;
    width: 45%;
    height: 70px;
    font-family: "Source Serif Pro", serif;
    font-size: 40px;
    font-weight: bold;
    color: #738DE4;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: #CBD8EA;
    opacity: 0.9;
    box-shadow: 10px 8px 20px #573838;
}