@charset "utf-8";

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/サイバー.png") center/cover no-repeat;
    opacity: 0.9;
    z-index: -1;
}

h1 {
    margin: 0;
    font-family: "Source Serif Pro", serif;
    font-size: 80px;
    font-weight: 500;
    -webkit-text-fill-color: #738DE4;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    align-items: center;
}

button {
    display: flex;
    width: 45%;
    height: 80px;
    font-family: "Source Serif Pro", serif;
    font-size: 40px;
    font-weight: bold;
    color: #738DE4;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: #CBD8EA;
    opacity: 0.9;
    box-shadow: 10px 8px 20px #573838;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: rgb(173, 182, 209);
  margin: 10px 0;
  transition: 0.4s;
  box-shadow: 2px 2px 4px rgba(38, 94, 159, 0.525);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(180deg, rgba(184, 196, 209, 0.525) 0%, rgba(114, 152, 196, 0.525) 50%, rgba(38, 94, 159, 0.525) 100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
}

.menu.open {
  opacity: 1;
  pointer-events: auto;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
  box-shadow: 1px 2px 4px rgba(38, 94, 159, 0.671);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  box-shadow: 0 2px 4px rgba(38, 94, 159, 0.671);
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
  box-shadow: -2px 2px 4px rgba(38, 95, 159, 0.671);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-size: 50px;
  font-weight: 700;
  color: #44495e;
  font-family: Source Serif Pro, serif;
}